<!DOCTYPE html>
<html>
    <head>
        <title>Categories</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_account' %}">Create Account</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_category' %}">Create Category</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'category_list' %}">Receipt Category List</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'account_list' %}">Account List</a>
                    {% endif %}
                </li>
            </nav>
        </header>
        <main>
            <h1>Expenses</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
            <tbody>
                {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </main>
    </body>
</html>
