<!DOCTYPE html>
<html>
    <head>
        <title>Create Receipt</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_account' %}">Create Account</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_category' %}">Create Category</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'category_list' %}">Receipt Category List</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'account_list' %}">Account List</a>
                    {% endif %}
                </li>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
