<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
</head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_account' %}">Create Account</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_category' %}">Create Category</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'category_list' %}">Receipt Category List</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'account_list' %}">Account List</a>
                    {% endif %}
                </li>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
