<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_account' %}">Create Account</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_category' %}">Create Category</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'category_list' %}">Receipt Category List</a>
                    {% endif %}
                    {% if user.is_authenticated%}
                    <a href="{% url 'account_list' %}">Account List</a>
                    {% endif %}
                </li>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
            <tbody>
                {% for items in receipt_list.all %}
                <tr>
                    <td>{{ items.vendor }}</td>
                    <td>{{ items.total }}</td>
                    <td>{{ items.tax }} </td>
                    <td>{{ items.date|date:"m/d/y" }}</td>
                    <td>{{ items.category }}</td>
                    <td>{{ items.account }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </main>
    </body>
</html>
